#container{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100vh;
}

body{
	background-image: url('/resources/image/cloud.png');
}

#content{
	border:none;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height:500px;
	background-color: white;
	border-radius: 50px;
}




h1{
	text-align: center;
}

input{
	box-sizing:border-box;
	width:300px;
	justify-content: center;
	height:50px;
}

input[type=submit]{
	background-color: #87CEEB;
	border:none;
}

